*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;
background:#0f172a;

display:flex;
justify-content:center;
align-items:center;

color:white;

}



.login-box{

background:#111827;

padding:40px;

width:350px;

border-radius:15px;

text-align:center;

box-shadow:0 0 25px black;

}



.login-box h1{

color:#38bdf8;

margin-bottom:20px;

}


.login-box input{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:8px;

font-size:16px;

}



.login-box button{

width:100%;

padding:12px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

font-size:18px;

cursor:pointer;

}



.login-box button:hover{

background:#1d4ed8;

}